/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0b1 | 201101
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.carousel42 {
  margin: 50px auto;
  display: flex;
  align-items: center;
}
.c42-hidden-img {
  display: none;
}
.c42-active-img {
  display: inline-block;
  margin: 0;
  max-height: 100%;
  max-width: 100%;
}
.c42-flank-img {
  max-height: 75%;
  max-width: 100%;
  display: inline-block;
  margin-top: 35px;
}
.c42-left-img {
  align-self: flex-start;
  transform: perspective(1400px) rotate3d(0, 1, 0, -45deg);
}
.c42-right-img {
  align-self: flex-start;
  transform: perspective(1400px) rotate3d(0, 1, 0, 45deg);
}
.c42-arrow {
  font-size: 50px;
  color: white;
  height: 50px;
  width: 50px;
  margin: 0 15px;
  align-self: center;
  text-align: center;
  background-color: lightgray;
  border-radius: 50px;
  cursor: pointer;
  z-index: 5;
}
.c42-active-div,
.c42-left-div,
.c42-right-div {
  display: flex;
  height: 300px;
  width: 400px;
  align-content: baseline;
}
.c42-left-div {
  justify-content: flex-end;
}
.c42-right-div {
  justify-content: flex-start;
}
.c42-active-div {
  justify-content: center;
}
.c42-storage-div {
  display: none;
}
